html, body {
  height: 100%;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: sans-serif;
  background-color: #222;
}

#sketch canvas {
  width: 100%;
  height: 100%;
}

#control_panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0,0,0, 0.8);
  color: white;
}

#control_panel button {
  margin: 1em;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  font-size: 1em;
  color: white;
  background-color: transparent;
}
#control_panel button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

#control_panel .close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  
  font-size: 7rem;
}

/* modes */

#control_panel .modes {
  font-size: 2em;
}
#control_panel .modes button:focus {
  border: 4px solid white;
}

/* adjust */

#control_panel .adjust {
  font-size: 2em;
}

/* glimmer connect error */

#glimmer_connect_error {
  z-index: 100;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255,0,0, 0.8);
}
#glimmer_connect_error div {
  padding: 1em;
  font-size: 4em;
  color: white;
  text-align: center;
}
#glimmer_connect_error a {
  border: 1px solid white;
  border-radius: 0.25em;
  padding: 0.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
